body {
    font-family: Arial;
    padding: 30px;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

.form-section, .report-section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}


table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #007bff;
    color: white;
}

.edit-btn {
    background: orange;
}

.delete-btn {
    background: red;
}
